
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
}

.container {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}
.header {
  background-color: rgb(9, 126, 204);
  margin: 2rem auto;
  width: 90%;
  border-radius: 20px;
}
.main {
  margin: 0 auto;
  width: 85%;
}

.title {
  padding: 3rem 2rem;
  color: white;
  /* text-align: center; */


}
.form {
}

.form label,
.form input
.form textarea {
  display: block;
}

.date {
  font-size: .9rem;
  color: gray;
  margin: 8px 0;
}

.title-text{
  width: 100%;
  font-size: 1rem;
}
.note-text {
  width: 100%;
  height: 6rem;
  font-size: 1rem;
  
}

.button {
  color: white;
  background-color: rgb(9, 126, 204);
  font-size: 1rem;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.delete,
.edit,
.new-edit-button {
  color: white;
  background-color: rgb(9, 126, 204);
  font-size: .8rem;
  padding: 2px 5px;
  border-radius: 5px;
}

.edit-text-field {
  width: 100%;
}

#notes-list li {
  list-style: none;
  font-size: 1.25rem;
  /* margin: 2rem 0; */
  padding: 1.5rem 0;
  border-top: 1px solid rgba(179, 173, 173, 0.863);
}