
* {
  margin 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
}

.main {
  margin: 2rem;
}

.form {
}

.form label,
.form input {
  display: block;
}

.date {
  font-size: .75rem;
  color: gray;
  margin-top: 8px;
}
.note-text {
  width: 100%;
  font-size: 1.5rem;
}

.button {
  color: white;
  background-color: rgb(9, 126, 204);
  font-size: 1rem;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.buttons {
  
}
#notes-list li {
  list-style: none;
  font-size: 1.25rem;
  margin: 1rem 0;
}